<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/form.css">
</head>
<body class="for">
    <h1>Cadastro</h1>

    <div id="button">
        <a href="/">
            <button type="button" class="btn-primary">Voltar</button>
        </a>
    </div>

    <div id="formu">
        <div id="result"></div>

        <form action="{%if db%}/update/{{db.id}}/{%else%}/create/{%endif%}" name="form" id="form" method="POST">
            {%csrf_token%}
            <div class="form"><p class="text">Usuario: {{form.usuario}}</p></div>
            <div class="form"><p class="text">Patrimonio: {{form.patrimonio}}</p></div>
            <div class="form"><p class="text">Sistema Operacional: {{form.sistema}}</p></div>
            <p><input type="submit" class="btn" value="Enviar"></p>
        </form> 
    </div>
    {%load static%}
    <script src="{%static 'javascript/java.js'%}"></script>
</body>
</html>